
html{
    height: 100%;
    width: 100%;
}

.header{
  display: flex;
  padding-top: 5px;
  padding-bottom:5px;
  color: white;
  background-color: cornflowerblue;
}

.gray-letter {
  color: rgb(52, 52, 52);
}
.btn-front-card{
  background-color: rgb(194, 173, 88);
  color: black;
}

body::after {
  content: "";
  background: #fff;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  z-index: -1;   
}

/* bottons */

.btn-primary{
 background-color: rgb(222, 194, 82);
 border-color: rgb(194, 173, 88);

}

.btn-outline-primary{
  color: rgb(89, 75, 20);
  border-color: rgb(89, 75, 20);
  background-color: rgba(255, 255, 255, 0.85);
}

.btn-outline-danger{
  background-color: rgba(255, 255, 255, 0.85);
}

/* Table*/
.table-container{

  margin-top: 5%;
  background-color:rgba(255, 255, 255, 0.8);
}

.table-header{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
  background-color:rgb(0 123 255 / 50%);
}
.tableBody{
  padding-top: 5%;
  padding-bottom:5%;
  margin:0px;
}

.table-footer{
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
  color: black;
  background-color:rgb(0 123 255 / 50%);
}

.headertitle{
  margin: 0 auto;
  color: rgb(43, 43, 43);
  margin-top: 4px;
}

.btn-table{
  padding: 0.05rem 0.40rem !important;
  margin-left: 4%;
  margin-right: 4%;
}

.table thead th{
  background-color: white;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: rgb(240, 240, 240);
}

.table-striped tbody tr:nth-of-type(even){
  background-color: white;
}